<main class="main">
  <div class="hero-section hero-slider owl-carousel owl-theme">
    <div
      class="hero-single"
      style="background-image: url(assets/img/slider/slider-1.jpg)"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-7 col-lg-7">
            <div class="hero-content">
              <h6
                class="hero-sub-title wow animate__animated animate__fadeInUp"
                data-wow-duration="1s"
                data-wow-delay=".25s"
              >
                Welcome ! To Our Rosewod
              </h6>
              <h1
                class="hero-title wow animate__animated animate__fadeInUp"
                data-wow-duration="1s"
                data-wow-delay=".50s"
              >
                The Coolest Hotel And Resort
              </h1>
              <p
                class="wow animate__animated animate__fadeInUp"
                data-wow-duration="1s"
                data-wow-delay=".75s"
              >
                There are many variations of passages available but the majority
                have suffered alteration in some form by injected humour or
                randomised words.
              </p>
              <div
                class="hero-btn wow animate__animated animate__fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="1s"
              >
                <a href="contact.html" class="theme-btn">Contact Us</a>
                <a href="about.html" class="theme-btn border-btn">About Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="hero-single"
      style="background-image: url(assets/img/slider/slider-2.jpg)"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-7 col-lg-7">
            <div class="hero-content">
              <h6
                class="hero-sub-title wow animate__animated animate__fadeInUp"
                data-wow-duration="1s"
                data-wow-delay=".25s"
              >
                Welcome ! To Our Rosewod
              </h6>
              <h1
                class="hero-title wow animate__animated animate__fadeInUp"
                data-wow-duration="1s"
                data-wow-delay=".50s"
              >
                The Coolest Hotel And Resort
              </h1>
              <p
                class="wow animate__animated animate__fadeInUp"
                data-wow-duration="1s"
                data-wow-delay=".75s"
              >
                There are many variations of passages available but the majority
                have suffered alteration in some form by injected humour or
                randomised words.
              </p>
              <div
                class="hero-btn wow animate__animated animate__fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="1s"
              >
                <a href="contact.html" class="theme-btn">Contact Us</a>
                <a href="about.html" class="theme-btn border-btn">About Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="hero-single"
      style="background-image: url(assets/img/slider/slider-3.jpg)"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-7 col-lg-7">
            <div class="hero-content">
              <h6
                class="hero-sub-title wow animate__animated animate__fadeInUp"
                data-wow-duration="1s"
                data-wow-delay=".25s"
              >
                Welcome ! To Our Rosewod
              </h6>
              <h1
                class="hero-title wow animate__animated animate__fadeInUp"
                data-wow-duration="1s"
                data-wow-delay=".50s"
              >
                The Coolest Hotel And Resort
              </h1>
              <p
                class="wow animate__animated animate__fadeInUp"
                data-wow-duration="1s"
                data-wow-delay=".75s"
              >
                There are many variations of passages available but the majority
                have suffered alteration in some form by injected humour or
                randomised words.
              </p>
              <div
                class="hero-btn wow animate__animated animate__fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="1s"
              >
                <a href="contact.html" class="theme-btn">Contact Us</a>
                <a href="about.html" class="theme-btn border-btn">About Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="search-area">
    <div class="container">
      <div class="search-form-wrapper">
        <form action="#">
          <div class="row align-items-end">
            <div class="col-md-6 col-lg-2 search-input">
              <div class="form-group">
                <label>Check In</label>
                <input
                  type="text"
                  class="form-control date-picker"
                  placeholder="MM / DD / YY"
                />
                <div><i class="fas fa-calendar-alt"></i></div>
              </div>
            </div>
            <div class="col-md-6 col-lg-2 search-input">
              <div class="form-group">
                <label>Check Out</label>
                <input
                  type="text"
                  class="form-control date-picker"
                  placeholder="MM / DD / YY"
                />
                <div><i class="fas fa-calendar-alt"></i></div>
              </div>
            </div>
            <div class="col-md-6 col-lg-2 search-input">
              <div class="form-group">
                <label>Rooms</label>
                <select class="select">
                  <option value="1">1 Rooms</option>
                  <option value="2">2 Rooms</option>
                  <option value="3">3 Rooms</option>
                  <option value="4">4 Rooms</option>
                  <option value="5">5 Rooms</option>
                  <option value="6">6 Rooms</option>
                </select>
                <div class="nice-select-icon">
                  <i class="fas fa-blanket"></i>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-2 search-input">
              <div class="form-group">
                <label>Adults</label>
                <select class="select">
                  <option value="1">1 Adults</option>
                  <option value="2">2 Adults</option>
                  <option value="3">3 Adults</option>
                  <option value="4">4 Adults</option>
                  <option value="5">5 Adults</option>
                  <option value="6">6 Adults</option>
                </select>
                <div class="nice-select-icon">
                  <i class="fas fa-user"></i>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-2 search-input">
              <div class="form-group">
                <label>Childs</label>
                <select class="select">
                  <option value="1">1 Childs</option>
                  <option value="2">2 Childs</option>
                  <option value="3">3 Childs</option>
                  <option value="4">4 Childs</option>
                  <option value="5">5 Childs</option>
                  <option value="6">6 Childs</option>
                </select>
                <div class="nice-select-icon">
                  <i class="fas fa-child"></i>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-2 search-input">
              <button type="submit" class="search-btn">
                <i class="fas fa-search"></i> Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="feature-area pt-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Features</span>
            <h2 class="site-title">Top Features</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="feature-single">
            <div class="feature-icon">
              <img src="assets/img/feature/air-conditioner.svg" alt="" />
            </div>
            <div class="feature-info">
              <h5>Air Conditioner</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-single">
            <div class="feature-icon">
              <img src="assets/img/feature/wifi.svg" alt="" />
            </div>
            <div class="feature-info">
              <h5>Free Wi-fi</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-single">
            <div class="feature-icon">
              <img src="assets/img/feature/security-camera.svg" alt="" />
            </div>
            <div class="feature-info">
              <h5>High Security</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-single">
            <div class="feature-icon">
              <img src="assets/img/feature/tv.svg" alt="" />
            </div>
            <div class="feature-info">
              <h5>Digital Tv</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-area py-120">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-left">
            <div class="about-img">
              <img class="about-img-1" src="assets/img/about/1.jpg" alt="" />
              <img class="about-img-2" src="assets/img/about/2.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-right">
            <div class="site-header">
              <span class="site-title-tagline">About Us</span>
              <h2 class="site-title">
                We Provide Best Place To Enjoy Your Time
              </h2>
            </div>
            <p class="about-text">
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words which don't look even.
            </p>
            <div class="about-list-wrapper">
              <ul class="about-list list-unstyled">
                <li>
                  <div class="icon">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <div class="text">
                    <p>Take a look at our round up of the best shows</p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <div class="text">
                    <p>It has survived not only five centuries</p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <div class="text">
                    <p>Lorem Ipsum has been the ndustry standard dummy text</p>
                  </div>
                </li>
              </ul>
            </div>
            <a href="about.html" class="theme-btn"
              >Discover More <i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="counter-area pt-40 pb-40">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="counter-box">
            <div class="icon"><i class="fal fa-smile"></i></div>
            <span class="counter" data-count="+" data-to="30" data-speed="3000"
              >30</span
            >
            <h6 class="title">+ Happy Clients</h6>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="counter-box">
            <div class="icon"><i class="fal fa-users"></i></div>
            <span class="counter" data-count="+" data-to="600" data-speed="3000"
              >600</span
            >
            <h6 class="title">+ Our Staff</h6>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="counter-box">
            <div class="icon"><i class="fal fa-mug-hot"></i></div>
            <span
              class="counter"
              data-count="+"
              data-to="1500"
              data-speed="3000"
              >1500</span
            >
            <h6 class="title">+ Cup Of Coffee</h6>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="counter-box">
            <div class="icon"><i class="fal fa-award"></i></div>
            <span class="counter" data-count="+" data-to="50" data-speed="3000"
              >50</span
            >
            <h6 class="title">+ Win Awards</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="room-area py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Rooms</span>
            <h2 class="site-title">Best Rooms</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="room-item">
            <div class="room-img">
              <img src="assets/img/room/room-1.jpg" alt="" />
              <a href="#" class="room-wish"><i class="fas fa-heart"></i></a>
            </div>
            <div class="room-content">
              <div class="room-title">
                <a href="#">
                  <h4>Super Deluxe</h4>
                </a>
                <div class="room-rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="room-price">
                <span><strong>$250</strong> / Per Night</span>
              </div>
              <div class="room-service">
                <ul>
                  <li><i class="fas fa-bed"></i>3 Beds</li>
                  <li><i class="fas fa-bath"></i>2 Baths</li>
                  <li><i class="fas fa-arrows"></i>30 M<sup>2</sup></li>
                </ul>
              </div>
              <div class="footer-bottom">
                <a href="#" class="room-btn"
                  >Book Now <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="room-item">
            <div class="room-img">
              <span class="room-badge">Popular</span>
              <img src="assets/img/room/room-2.jpg" alt="" />
              <a href="#" class="room-wish"><i class="fas fa-heart"></i></a>
            </div>
            <div class="room-content">
              <div class="room-title">
                <a href="#">
                  <h4>Royal Deluxe</h4>
                </a>
                <div class="room-rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="room-price">
                <span><strong>$250</strong> / Per Night</span>
              </div>
              <div class="room-service">
                <ul>
                  <li><i class="fas fa-bed"></i>3 Beds</li>
                  <li><i class="fas fa-bath"></i>2 Baths</li>
                  <li><i class="fas fa-arrows"></i>30 M<sup>2</sup></li>
                </ul>
              </div>
              <div class="footer-bottom">
                <a href="#" class="room-btn"
                  >Book Now <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="room-item">
            <div class="room-img">
              <span class="room-badge">Popular</span>
              <img src="assets/img/room/room-3.jpg" alt="" />
              <a href="#" class="room-wish"><i class="fas fa-heart"></i></a>
            </div>
            <div class="room-content">
              <div class="room-title">
                <a href="#">
                  <h4>Murphy Room</h4>
                </a>
                <div class="room-rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="room-price">
                <span><strong>$250</strong> / Per Night</span>
              </div>
              <div class="room-service">
                <ul>
                  <li><i class="fas fa-bed"></i>3 Beds</li>
                  <li><i class="fas fa-bath"></i>2 Baths</li>
                  <li><i class="fas fa-arrows"></i>30 M<sup>2</sup></li>
                </ul>
              </div>
              <div class="footer-bottom">
                <a href="#" class="room-btn"
                  >Book Now <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="room-item">
            <div class="room-img">
              <img src="assets/img/room/room-4.jpg" alt="" />
              <a href="#" class="room-wish"><i class="fas fa-heart"></i></a>
            </div>
            <div class="room-content">
              <div class="room-title">
                <a href="#">
                  <h4>Double Room</h4>
                </a>
                <div class="room-rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="room-price">
                <span><strong>$250</strong> / Per Night</span>
              </div>
              <div class="room-service">
                <ul>
                  <li><i class="fas fa-bed"></i>3 Beds</li>
                  <li><i class="fas fa-bath"></i>2 Baths</li>
                  <li><i class="fas fa-arrows"></i>30 M<sup>2</sup></li>
                </ul>
              </div>
              <div class="footer-bottom">
                <a href="#" class="room-btn"
                  >Book Now <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="room-item">
            <div class="room-img">
              <span class="room-badge">Popular</span>
              <img src="assets/img/room/room-5.jpg" alt="" />
              <a href="#" class="room-wish"><i class="fas fa-heart"></i></a>
            </div>
            <div class="room-content">
              <div class="room-title">
                <a href="#">
                  <h4>Luxury King</h4>
                </a>
                <div class="room-rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="room-price">
                <span><strong>$250</strong> / Per Night</span>
              </div>
              <div class="room-service">
                <ul>
                  <li><i class="fas fa-bed"></i>3 Beds</li>
                  <li><i class="fas fa-bath"></i>2 Baths</li>
                  <li><i class="fas fa-arrows"></i>30 M<sup>2</sup></li>
                </ul>
              </div>
              <div class="footer-bottom">
                <a href="#" class="room-btn"
                  >Book Now <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="room-item">
            <div class="room-img">
              <img src="assets/img/room/room-6.jpg" alt="" />
              <a href="#" class="room-wish"><i class="fas fa-heart"></i></a>
            </div>
            <div class="room-content">
              <div class="room-title">
                <a href="#">
                  <h4>Single Room</h4>
                </a>
                <div class="room-rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="room-price">
                <span><strong>$250</strong> / Per Night</span>
              </div>
              <div class="room-service">
                <ul>
                  <li><i class="fas fa-bed"></i>3 Beds</li>
                  <li><i class="fas fa-bath"></i>2 Baths</li>
                  <li><i class="fas fa-arrows"></i>30 M<sup>2</sup></li>
                </ul>
              </div>
              <div class="footer-bottom">
                <a href="#" class="room-btn"
                  >Book Now <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pricing-area pb-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Pricing</span>
            <h2 class="site-title">Pricing Plan</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
          </div>
        </div>
      </div>
      <div class="pricing-wrap">
        <div class="row align-items-center">
          <div class="col-md-6 col-lg-4">
            <div class="price-item">
              <div class="price-header">
                <div class="price-icon">
                  <i class="fal fa-paper-plane"></i>
                </div>
                <h3>Delux Package</h3>
              </div>
              <div class="price-content">
                <div class="price-amount-wrapper">
                  <div class="price-amount">
                    <span class="price-amount-total"
                      ><span class="price-currency">$</span>156</span
                    >
                  </div>
                  <div class="price-type"><span>/Per Night</span></div>
                </div>
                <div class="price-feature">
                  <ul>
                    <li>
                      <i class="fas fa-check-circle"></i>30% off in Package
                    </li>
                    <li>
                      <i class="fas fa-check-circle"></i>Restaurant (Breakfast)
                    </li>
                    <li>
                      <i class="fas fa-check-circle"></i>Free Pick-up From
                      Airpoart
                    </li>
                    <li>
                      <i class="fas fa-check-circle"></i>Spa and Swiming
                      Facility
                    </li>
                    <li>
                      <i class="fas fa-check-circle"></i>24 Hours Free Wi-fi
                    </li>
                  </ul>
                  <a href="#" class="theme-btn"
                    >Book Now <i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="price-item best-price">
              <div class="price-header">
                <div class="price-icon">
                  <i class="fal fa-plane-alt"></i>
                </div>
                <h3>Special Package</h3>
              </div>
              <div class="price-content">
                <div class="price-amount-wrapper">
                  <div class="price-amount">
                    <span class="price-amount-total"
                      ><span class="price-currency">$</span>299</span
                    >
                  </div>
                  <div class="price-type">
                    <span class="mouth-cont">/Per Night</span>
                  </div>
                </div>
                <div class="price-feature">
                  <ul>
                    <li>
                      <i class="fas fa-check-circle"></i>30% off in Package
                    </li>
                    <li>
                      <i class="fas fa-check-circle"></i>Restaurant (Breakfast)
                    </li>
                    <li>
                      <i class="fas fa-check-circle"></i>Free Pick-up From
                      Airpoart
                    </li>
                    <li>
                      <i class="fas fa-check-circle"></i>Spa and Swiming
                      Facility
                    </li>
                    <li>
                      <i class="fas fa-check-circle"></i>24 Hours Free Wi-fi
                    </li>
                  </ul>
                  <a href="#" class="theme-btn"
                    >Book Now <i class="fas fa-arrow-right"></i
                  ></a>
                  <div class="best-price-bottom">
                    <i class="fas fa-check-circle"></i>
                    Popular
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="price-item">
              <div class="price-header">
                <div class="price-icon">
                  <i class="fal fa-rocket"></i>
                </div>
                <h3>Luxury Package</h3>
              </div>
              <div class="price-content">
                <div class="price-amount-wrapper">
                  <div class="price-amount">
                    <span class="price-amount-total"
                      ><span class="price-currency">$</span>350</span
                    >
                  </div>
                  <div class="price-type">
                    <span class="mouth-cont">/Per Night</span>
                  </div>
                </div>
                <div class="price-feature">
                  <ul>
                    <li>
                      <i class="fas fa-check-circle"></i>30% off in Package
                    </li>
                    <li>
                      <i class="fas fa-check-circle"></i>Restaurant (Breakfast)
                    </li>
                    <li>
                      <i class="fas fa-check-circle"></i>Free Pick-up From
                      Airpoart
                    </li>
                    <li>
                      <i class="fas fa-check-circle"></i>Spa and Swiming
                      Facility
                    </li>
                    <li>
                      <i class="fas fa-check-circle"></i>24 Hours Free Wi-fi
                    </li>
                  </ul>
                  <a href="#" class="theme-btn"
                    >Book Now <i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="partner-area partner-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline text-white">Partners</span>
            <h2 class="site-title text-white">Our Awesome Partners</h2>
            <p class="text-white">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
          </div>
        </div>
      </div>
      <div class="partner-wrapper partner-slider owl-carousel owl-theme">
        <div class="partner-item">
          <img src="assets/img/partner/1.png" alt="thumb" />
        </div>
        <div class="partner-item">
          <img src="assets/img/partner/2.png" alt="thumb" />
        </div>
        <div class="partner-item">
          <img src="assets/img/partner/3.png" alt="thumb" />
        </div>
        <div class="partner-item">
          <img src="assets/img/partner/4.png" alt="thumb" />
        </div>
        <div class="partner-item">
          <img src="assets/img/partner/5.png" alt="thumb" />
        </div>
        <div class="partner-item">
          <img src="assets/img/partner/6.png" alt="thumb" />
        </div>
      </div>
    </div>
  </div>

  <div class="team-area py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Team</span>
            <h2 class="site-title">Meet Our Team</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="team-item">
            <img src="assets/img/team/team-1.jpg" alt="thumb" />
            <div class="team-content">
              <div class="team-bio">
                <a href="#">Malissa Fierro</a>
                <p>Tour Guide</p>
              </div>
              <div class="team-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="team-item">
            <img src="assets/img/team/team-2.jpg" alt="thumb" />
            <div class="team-content">
              <div class="team-bio">
                <a href="#">Florence Long</a>
                <p>Tour Guide</p>
              </div>
              <div class="team-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="team-item active">
            <img src="assets/img/team/team-3.jpg" alt="thumb" />
            <div class="team-content">
              <div class="team-bio">
                <a href="#">Melvin Castillo</a>
                <p>Tour Guide</p>
              </div>
              <div class="team-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="team-item">
            <img src="assets/img/team/team-4.jpg" alt="thumb" />
            <div class="team-content">
              <div class="team-bio">
                <a href="#">John Welsh</a>
                <p>Tour Guide</p>
              </div>
              <div class="team-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cta-area">
    <div class="container">
      <div class="cta-content">
        <h2>GET DISCOUNT <span> 15-25% </span> OFF ANY ROOM PACKAGE</h2>
        <p>WHEN YOU PURCHASE ANY PACKAGE & GET NEXT ROOM</p>
        <a href="#">Book Room Today <i class="fas fa-long-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="gallery-area pt-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Gallery</span>
            <h2 class="site-title">Our Gallery</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
          </div>
        </div>
      </div>
      <div class="row popup-gallery" data-masonry='{"percentPosition": true }'>
        <div class="col-md-4">
          <div class="gallery-item">
            <img src="assets/img/gallery/gallery-1.jpg" alt="" />
            <a class="popup-img" href="assets/img/gallery/gallery-1.jpg"
              ><i class="fas fa-plus"></i
            ></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery-item">
            <img src="assets/img/gallery/gallery-2.jpg" alt="" />
            <a class="popup-img" href="assets/img/gallery/gallery-2.jpg"
              ><i class="fas fa-plus"></i
            ></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery-item">
            <img src="assets/img/gallery/gallery-3.jpg" alt="" />
            <a class="popup-img" href="assets/img/gallery/gallery-3.jpg"
              ><i class="fas fa-plus"></i
            ></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery-item">
            <img src="assets/img/gallery/gallery-4.jpg" alt="" />
            <a class="popup-img" href="assets/img/gallery/gallery-4.jpg"
              ><i class="fas fa-plus"></i
            ></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery-item">
            <img src="assets/img/gallery/gallery-5.jpg" alt="" />
            <a class="popup-img" href="assets/img/gallery/gallery-5.jpg"
              ><i class="fas fa-plus"></i
            ></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery-item">
            <img src="assets/img/gallery/gallery-6.jpg" alt="" />
            <a class="popup-img" href="assets/img/gallery/gallery-6.jpg"
              ><i class="fas fa-plus"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <a href="#" class="theme-btn">Load More <i class="fas fa-sync"></i></a>
      </div>
    </div>
  </div>

  <div class="video-area pt-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Intro Video</span>
            <h2 class="site-title">Let's Check Our Video</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="video-wrapper">
            <img src="assets/img/bg/video-img.jpg" alt="Banner Video" />
            <a
              class="play-btn popup-youtube"
              href="https://www.youtube.com/watch?v=ckHzmP1evNU"
            >
              <i class="icofont-ui-play"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="service-area pt-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Services</span>
            <h2 class="site-title">Best Services</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="service-item">
            <div class="service-img">
              <img src="assets/img/service/service-1.jpg" alt="" />
            </div>
            <div class="service-content">
              <h4>Restaurant</h4>
              <p>
                There are many variations of passages of orem psum available.
              </p>
              <a href="#" class="theme-btn"
                >Learn More <i class="fas fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service-item">
            <div class="service-img">
              <img src="assets/img/service/service-2.jpg" alt="" />
            </div>
            <div class="service-content">
              <h4>Fiteness</h4>
              <p>
                There are many variations of passages of orem psum available.
              </p>
              <a href="#" class="theme-btn"
                >Learn More <i class="fas fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service-item">
            <div class="service-img">
              <img src="assets/img/service/service-3.jpg" alt="" />
            </div>
            <div class="service-content">
              <h4>Swimming Pool</h4>
              <p>
                There are many variations of passages of orem psum available.
              </p>
              <a href="#" class="theme-btn"
                >Learn More <i class="fas fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-area testimonial-bg py-120 mt-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Testimonials</span>
            <h2 class="site-title text-white">What Client Say's</h2>
            <p class="text-white">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
          </div>
        </div>
      </div>
      <div class="testimonial-slider owl-carousel owl-theme">
        <div class="testimonial-single">
          <div class="testimonial-quote">
            <span class="testimonial-quote-icon"
              ><i class="fal fa-quote-right"></i
            ></span>
            <div class="testimonial-rate">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words which don't look even
              slightly believable.
            </p>
          </div>
          <div class="testimonial-content">
            <div class="testimonial-author-img">
              <img src="assets/img/testimonial/2.jpg" alt="" />
            </div>
            <div class="testimonial-author-info">
              <h4>Sylvia H Green</h4>
              <p>Customers</p>
            </div>
          </div>
        </div>
        <div class="testimonial-single">
          <div class="testimonial-quote">
            <span class="testimonial-quote-icon"
              ><i class="fal fa-quote-right"></i
            ></span>
            <div class="testimonial-rate">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words which don't look even
              slightly believable.
            </p>
          </div>
          <div class="testimonial-content">
            <div class="testimonial-author-img">
              <img src="assets/img/testimonial/1.jpg" alt="" />
            </div>
            <div class="testimonial-author-info">
              <h4>Gordon D Novak</h4>
              <p>Customers</p>
            </div>
          </div>
        </div>
        <div class="testimonial-single">
          <div class="testimonial-quote">
            <span class="testimonial-quote-icon"
              ><i class="fal fa-quote-right"></i
            ></span>
            <div class="testimonial-rate">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words which don't look even
              slightly believable.
            </p>
          </div>
          <div class="testimonial-content">
            <div class="testimonial-author-img">
              <img src="assets/img/testimonial/3.jpg" alt="" />
            </div>
            <div class="testimonial-author-info">
              <h4>Reid E Butt</h4>
              <p>Customers</p>
            </div>
          </div>
        </div>
        <div class="testimonial-single">
          <div class="testimonial-quote">
            <span class="testimonial-quote-icon"
              ><i class="fal fa-quote-right"></i
            ></span>
            <div class="testimonial-rate">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words which don't look even
              slightly believable.
            </p>
          </div>
          <div class="testimonial-content">
            <div class="testimonial-author-img">
              <img src="assets/img/testimonial/4.jpg" alt="" />
            </div>
            <div class="testimonial-author-info">
              <h4>Parker Jimenez</h4>
              <p>Customers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-area py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Our Blog</span>
            <h2 class="site-title">Latest News & Blog</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="blog-item">
            <div class="blog-item-thumb">
              <img src="assets/img/blog/blog-1.jpg" alt="Thumb" />
            </div>
            <div class="blog-item-info">
              <div class="blog-item-meta">
                <ul>
                  <li><i class="fas fa-user"></i> Nancy Castdo</li>
                  <li><i class="fas fa-calendar-alt"></i> 25 June, 2021</li>
                </ul>
              </div>
              <h5>
                <a href="#" class="blog-item-title"
                  >There are many variations of passages available</a
                >
              </h5>
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
              </p>
              <a class="blog-item-more" href="#"
                >Read More <i class="fas fa-long-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="blog-item">
            <div class="blog-item-thumb">
              <img src="assets/img/blog/blog-2.jpg" alt="Thumb" />
            </div>
            <div class="blog-item-info">
              <div class="blog-item-meta">
                <ul>
                  <li><i class="fas fa-user"></i> Nancy Castdo</li>
                  <li><i class="fas fa-calendar-alt"></i> 25 June, 2021</li>
                </ul>
              </div>
              <h5>
                <a href="#" class="blog-item-title"
                  >There are many variations of passages available</a
                >
              </h5>
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
              </p>
              <a class="blog-item-more" href="#"
                >Read More <i class="fas fa-long-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="blog-item">
            <div class="blog-item-thumb">
              <img src="assets/img/blog/blog-3.jpg" alt="Thumb" />
            </div>
            <div class="blog-item-info">
              <div class="blog-item-meta">
                <ul>
                  <li><i class="fas fa-user"></i> Nancy Castdo</li>
                  <li><i class="fas fa-calendar-alt"></i> 25 June, 2021</li>
                </ul>
              </div>
              <h5>
                <a href="#" class="blog-item-title"
                  >There are many variations of passages available</a
                >
              </h5>
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
              </p>
              <a class="blog-item-more" href="#"
                >Read More <i class="fas fa-long-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- <div style="margin-top: 150px">
  <button>Collaaaa</button>
  <button>happy landing</button>
</div> -->
