<select class="form-select" name="recomCategory" [(ngModel)]="categorie">
    <option value="Coffees">Coffees</option>
    <option value="Restoration">Restoration</option>
    <option value="Antique">Antique</option>
    <option value="Museum">Museum</option>
    <option value="Hotel">Hotel</option>
    <option value="park">park</option>
    <option value="club">club</option>
    <option value="House">House</option>
    <option value="movie">movie</option>
</select>
<div class="form-group">
    <input type="text" name="country" placeholder="Country" class="form-control" [(ngModel)]="country">
</div>
<button (click)="listRecomAvis()">Search</button>
<table border="2">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Image</th>
        <th>Country</th>
        <th>Rating</th>
    </tr>
    <tbody *ngFor="let p of listrecom; let i=index">
        <tr>
            <td>{{p.titreRecom}}</td>
            <td>{{p.imageRecom}}</td>
            <td>{{p.description}}</td>
            <td>{{p.country}}</td>
            <td>{{p.recomAvis}}</td>
        </tr>
    </tbody>
</table>