<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Users List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Password</th>
          <th>Role</th>
          <th>locked</th>
          <th>enabled</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.locked }}</td>
          <td>{{ user.enabled }}</td>

          <td>
            <button (click)="deleteUser(user.id)" class="btn btn-danger">
              Delete
            </button>
            <button (click)="banUser(user.id)" class="btn btn-danger">
              ban User
            </button>
            <button
              (click)="updateUser(user.id)"
              class="btn btn-info"
              style="margin-left: 10px"
            >
              Update
            </button>
            <button
              (click)="userDetails(user.id)"
              class="btn btn-info"
              style="margin-left: 10px"
            >
              Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
