select {
  height: 40px;
}
select.select-wrap {
  display: none;
  height: 40px;
}
.select-wrap {
  border-radius: 4px;
}
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.custom-select-wrapper select {
  display: none;
}
.custom-select {
  position: relative;
  display: inline-block;
}
.custom-select-trigger {
  position: relative;
  display: block;
  width: 300px;
  padding: 0 84px 0 22px;
  font-size: 22px;
  color: #0169ee;
  background: #efefef;
  line-height: 60px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 2;
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #0169ee;
  border-right: 1px solid #0169ee;
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.3s ease-in-out;
  transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  font-size: 18px;
  line-height: 47px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.custom-option:hover {
  background: #efefef;
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  background: #fff;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}

.newslist {
  margin-top: 50px;
}

.blog-area > .container {
  background: #fff;
  border-radius: 20px;
  padding: 40px 30px;
  box-shadow: 0 3px 24px rgb(0 0 0 / 10%);
}
