<select class="form-select" aria-label="Region" [(ngModel)]="region" (change)="listnewsregion()">
    <option value="International">International</option>
    <option value="Nationnal">Nationnal</option>
    <option value="Regionnal">Regionnal</option>
</select>
<!-- <div [hidden]="region == 'Global'">
    <input type="text" name="region" [(ngModel)]="place">
</div> -->
<!-- <button (click)="listnewsregion()">Search</button> -->
<table border="2">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Image</th>
        <th [hidden]="region == 'International'">country</th>
        <th [hidden]="region != 'Regionnal'">city</th>
        <th>Published</th>
        <th>views</th>
        <!-- <th>Delete</th> -->
    </tr>
    <tbody *ngFor="let p of listarticle; let i=index">
        <tr>
            <td>{{p.titreArticle}}</td>
            <td>{{p.descriptionArticle}}</td>
            <td>{{p.imageArticle}}</td>
            <td [hidden]="region == 'International'">{{p.country}}</td>
            <td [hidden]="region != 'Regionnal'">{{p.city}}</td>
            <td>{{p.publishedago}}</td>
            <td>{{p.vues}}</td>
            <!-- <td><button (click)="effacerAd(p.idPub)">Delete</button></td> -->
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <select class="form-select" aria-label="Region" [(ngModel)]="region" (change)="listnewsregion()">
                    <option value="International">International</option>
                    <option value="Nationnal">Nationnal</option>
                    <option value="Regionnal">Regionnal</option>
                </select>
                <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                    <thead>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th [hidden]="region == 'International'">country</th>
                        <th [hidden]="region != 'Regionnal'">city</th>
                        <th>Published</th>
                        <th>views</th>
                    </thead>


                    <tbody *ngFor="let p of listarticle; let i=index">
                        <tr>
                            <td>{{p.titreArticle}}</td>
                            <td>{{p.descriptionArticle}}</td>
                            <td>{{p.imageArticle}}</td>
                            <td [hidden]="region == 'International'">{{p.country}}</td>
                            <td [hidden]="region != 'Regionnal'">{{p.city}}</td>
                            <td>{{p.publishedago}}</td>
                            <td>{{p.vues}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->
</div>
<!-- end row-->