<main class="main">
    <div class="site-breadcrumb" style="background: url(assets/img/slider/slider-3.jpg)">
        <div class="container">
            <h2 class="breadcrumb-title">Ads</h2>
            <ul class="breadcrumb-menu">
                <li><a href="index-2.html">Home</a></li>
                <li class="active">Ads</li>
            </ul>
        </div>
    </div>

    <div class="restaurant-about py-120">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="restaurant-about">
                        <img src="{{listad.imagePub}}" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="restaurant-about-content">
                        <h3>{{listad.titrePub}}</h3>
                        <p>
                            {{listad.descriptionPub}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>