<div
  class="hero-section hero-slider owl-carousel owl-theme owl-loaded owl-drag"
>
  <div class="owl-stage-outer">
    <div
      class="owl-stage"
      style="
        transform: translate3d(-3804px, 0px, 0px);
        transition: all 0s ease 0s;
        width: 9510px;
      "
    >
      <div class="owl-item cloned" style="width: 1903px; margin-right: -1px">
        <div
          class="hero-single"
          style="background-image: url(assets/img/slider/slider-1.jpg)"
        >
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-7 col-lg-7">
                <div class="hero-content">
                  <h6
                    class="hero-sub-title wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay=".25s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.25s;
                      animation-name: fadeInUp;
                    "
                  >
                    Welcome ! To Our Rosewod
                  </h6>
                  <h1
                    class="hero-title wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay=".50s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.5s;
                      animation-name: fadeInUp;
                    "
                  >
                    The Coolest Hotel And Resort
                  </h1>
                  <p
                    class="wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay=".75s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.75s;
                      animation-name: fadeInUp;
                    "
                  >
                    There are many variations of passages available but the
                    majority have suffered alteration in some form by injected
                    humour or randomised words.
                  </p>
                  <div
                    class="hero-btn wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay="1s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 1s;
                      animation-name: fadeInUp;
                    "
                  >
                    <a href="contact.html" class="theme-btn">Contact Us</a>
                    <a href="about.html" class="theme-btn border-btn"
                      >About Us</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="search-area">
                  <div class="search-form-wrapper">
                    <form action="#">
                      <div class="row align-items-end">
                        <div class="col-12 search-input">
                          <div class="form-group">
                            <label>qsdqsd</label>
                            <select class="select" style="display: none">
                              <option value="1">1 Rooms</option>
                              <option value="2">2 Rooms</option>
                              <option value="3">3 Rooms</option>
                              <option value="4">4 Rooms</option>
                              <option value="5">5 Rooms</option>
                              <option value="6">6 Rooms</option>
                            </select>
                            <div class="nice-select select" tabindex="0">
                              <span class="current">1 Rooms</span>
                              <ul class="list">
                                <li data-value="1" class="option selected">
                                  1 Rooms
                                </li>
                                <li data-value="2" class="option">2 Rooms</li>
                                <li data-value="3" class="option">3 Rooms</li>
                                <li data-value="4" class="option">4 Rooms</li>
                                <li data-value="5" class="option">5 Rooms</li>
                                <li data-value="6" class="option">6 Rooms</li>
                              </ul>
                            </div>
                            <div class="nice-select-icon">
                              <i class="fas fa-blanket"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 search-input">
                          <div class="form-group">
                            <label>peer</label>
                            <select class="select" style="display: none">
                              <option value="1">1 Adults</option>
                              <option value="2">2 Adults</option>
                              <option value="3">3 Adults</option>
                              <option value="4">4 Adults</option>
                              <option value="5">5 Adults</option>
                              <option value="6">6 Adults</option>
                            </select>
                            <div class="nice-select select" tabindex="0">
                              <span class="current">1 Adults</span>
                              <ul class="list">
                                <li data-value="1" class="option selected">
                                  1 Adults
                                </li>
                                <li data-value="2" class="option">2 Adults</li>
                                <li data-value="3" class="option">3 Adults</li>
                                <li data-value="4" class="option">4 Adults</li>
                                <li data-value="5" class="option">5 Adults</li>
                                <li data-value="6" class="option">6 Adults</li>
                              </ul>
                            </div>
                            <div class="nice-select-icon">
                              <i class="fas fa-user"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 search-input">
                          <div class="form-group">
                            <label>Childs</label>
                            <select class="select" style="display: none">
                              <option value="1">1 Childs</option>
                              <option value="2">2 Childs</option>
                              <option value="3">3 Childs</option>
                              <option value="4">4 Childs</option>
                              <option value="5">5 Childs</option>
                              <option value="6">6 Childs</option>
                            </select>
                            <div class="nice-select select" tabindex="0">
                              <span class="current">1 Childs</span>
                              <ul class="list">
                                <li data-value="1" class="option selected">
                                  1 Childs
                                </li>
                                <li data-value="2" class="option">2 Childs</li>
                                <li data-value="3" class="option">3 Childs</li>
                                <li data-value="4" class="option">4 Childs</li>
                                <li data-value="5" class="option">5 Childs</li>
                                <li data-value="6" class="option">6 Childs</li>
                              </ul>
                            </div>
                            <div class="nice-select-icon">
                              <i class="fas fa-child"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 mt-3">
                          <button type="submit" class="search-btn">
                            <i class="fas fa-search"></i> Search
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-item cloned" style="width: 1903px; margin-right: -1px">
        <div
          class="hero-single"
          style="background-image: url(assets/img/slider/slider-1.jpg)"
        >
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-7 col-lg-7">
                <div class="hero-content">
                  <h6
                    class="hero-sub-title wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay=".25s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.25s;
                      animation-name: fadeInUp;
                    "
                  >
                    Welcome ! To Our Rosewod
                  </h6>
                  <h1
                    class="hero-title wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay=".50s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.5s;
                      animation-name: fadeInUp;
                    "
                  >
                    The Coolest Hotel And Resort
                  </h1>
                  <p
                    class="wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay=".75s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.75s;
                      animation-name: fadeInUp;
                    "
                  >
                    There are many variations of passages available but the
                    majority have suffered alteration in some form by injected
                    humour or randomised words.
                  </p>
                  <div
                    class="hero-btn wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay="1s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 1s;
                      animation-name: fadeInUp;
                    "
                  >
                    <a href="contact.html" class="theme-btn">Contact Us</a>
                    <a href="about.html" class="theme-btn border-btn"
                      >About Us</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-item active" style="width: 1903px; margin-right: -1px">
        <div
          class="hero-single"
          style="background-image: url(assets/img/slider/slider-1.jpg)"
        >
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-7 col-lg-7">
                <div class="hero-content">
                  <h6
                    class="hero-sub-title wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay=".25s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.25s;
                      animation-name: fadeInUp;
                    "
                  >
                    Welcome ! To Our Rosewod
                  </h6>
                  <h1
                    class="hero-title wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay=".50s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.5s;
                      animation-name: fadeInUp;
                    "
                  >
                    The Coolest Hotel And Resort
                  </h1>
                  <p
                    class="wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay=".75s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.75s;
                      animation-name: fadeInUp;
                    "
                  >
                    There are many variations of passages available but the
                    majority have suffered alteration in some form by injected
                    humour or randomised words.
                  </p>
                  <div
                    class="hero-btn wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay="1s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 1s;
                      animation-name: fadeInUp;
                    "
                  >
                    <a href="contact.html" class="theme-btn">Contact Us</a>
                    <a href="about.html" class="theme-btn border-btn"
                      >About Us</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-5">test</div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-item cloned" style="width: 1903px; margin-right: -1px">
        <div
          class="hero-single"
          style="background-image: url(assets/img/slider/slider-1.jpg)"
        >
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-7 col-lg-7">
                <div class="hero-content">
                  <h6
                    class="hero-sub-title wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay=".25s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.25s;
                      animation-name: fadeInUp;
                    "
                  >
                    Welcome ! To Our Rosewod
                  </h6>
                  <h1
                    class="hero-title wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay=".50s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.5s;
                      animation-name: fadeInUp;
                    "
                  >
                    The Coolest Hotel And Resort
                  </h1>
                  <p
                    class="wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay=".75s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.75s;
                      animation-name: fadeInUp;
                    "
                  >
                    There are many variations of passages available but the
                    majority have suffered alteration in some form by injected
                    humour or randomised words.
                  </p>
                  <div
                    class="hero-btn wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay="1s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 1s;
                      animation-name: fadeInUp;
                    "
                  >
                    <a href="contact.html" class="theme-btn">Contact Us</a>
                    <a href="about.html" class="theme-btn border-btn"
                      >About Us</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-item cloned" style="width: 1903px; margin-right: -1px">
        <div
          class="hero-single"
          style="background-image: url(assets/img/slider/slider-1.jpg)"
        >
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-7 col-lg-7">
                <div class="hero-content">
                  <h6
                    class="hero-sub-title wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay=".25s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.25s;
                      animation-name: fadeInUp;
                    "
                  >
                    Welcome ! To Our Rosewod
                  </h6>
                  <h1
                    class="hero-title wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay=".50s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.5s;
                      animation-name: fadeInUp;
                    "
                  >
                    The Coolest Hotel And Resort
                  </h1>
                  <p
                    class="wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay=".75s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.75s;
                      animation-name: fadeInUp;
                    "
                  >
                    There are many variations of passages available but the
                    majority have suffered alteration in some form by injected
                    humour or randomised words.
                  </p>
                  <div
                    class="hero-btn wow animate__ animate__fadeInUp animated"
                    data-wow-duration="1s"
                    data-wow-delay="1s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 1s;
                      animation-name: fadeInUp;
                    "
                  >
                    <a href="contact.html" class="theme-btn">Contact Us</a>
                    <a href="about.html" class="theme-btn border-btn"
                      >About Us</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="search-area">
                  <div class="search-form-wrapper">
                    <form action="#">
                      <div class="row align-items-end">
                        <div class="col-12 search-input">
                          <div class="form-group">
                            <label></label>
                            <select class="select" style="display: none">
                              <option value="1">1 Rooms</option>
                              <option value="2">2 Rooms</option>
                              <option value="3">3 Rooms</option>
                              <option value="4">4 Rooms</option>
                              <option value="5">5 Rooms</option>
                              <option value="6">6 Rooms</option>
                            </select>
                            <div class="nice-select select" tabindex="0">
                              <span class="current">1 Rooms</span>
                              <ul class="list">
                                <li data-value="1" class="option selected">
                                  1 Rooms
                                </li>
                                <li data-value="2" class="option">2 Rooms</li>
                                <li data-value="3" class="option">3 Rooms</li>
                                <li data-value="4" class="option">4 Rooms</li>
                                <li data-value="5" class="option">5 Rooms</li>
                                <li data-value="6" class="option">6 Rooms</li>
                              </ul>
                            </div>
                            <div class="nice-select-icon">
                              <i class="fa-solid fa-hotel"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 search-input">
                          <div class="form-group">
                            <label>peer</label>
                            <select class="select" style="display: none">
                              <option value="1">1 Adults</option>
                              <option value="2">2 Adults</option>
                              <option value="3">3 Adults</option>
                              <option value="4">4 Adults</option>
                              <option value="5">5 Adults</option>
                              <option value="6">6 Adults</option>
                            </select>
                            <div class="nice-select select" tabindex="0">
                              <span class="current">1 Adults</span>
                              <ul class="list">
                                <li data-value="1" class="option selected">
                                  1 Adults
                                </li>
                                <li data-value="2" class="option">2 Adults</li>
                                <li data-value="3" class="option">3 Adults</li>
                                <li data-value="4" class="option">4 Adults</li>
                                <li data-value="5" class="option">5 Adults</li>
                                <li data-value="6" class="option">6 Adults</li>
                              </ul>
                            </div>
                            <div class="nice-select-icon">
                              <i class="fas fa-user"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 search-input">
                          <div class="form-group">
                            <label>Childs</label>
                            <select class="select" style="display: none">
                              <option value="1">1 Childs</option>
                              <option value="2">2 Childs</option>
                              <option value="3">3 Childs</option>
                              <option value="4">4 Childs</option>
                              <option value="5">5 Childs</option>
                              <option value="6">6 Childs</option>
                            </select>
                            <div class="nice-select select" tabindex="0">
                              <span class="current">1 Childs</span>
                              <ul class="list">
                                <li data-value="1" class="option selected">
                                  1 Childs
                                </li>
                                <li data-value="2" class="option">2 Childs</li>
                                <li data-value="3" class="option">3 Childs</li>
                                <li data-value="4" class="option">4 Childs</li>
                                <li data-value="5" class="option">5 Childs</li>
                                <li data-value="6" class="option">6 Childs</li>
                              </ul>
                            </div>
                            <div class="nice-select-icon">
                              <i class="fas fa-child"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 mt-3">
                          <button type="submit" class="search-btn">
                            <i class="fas fa-search"></i> Search
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="owl-nav disabled">
    <div class="owl-prev"><i class="fas fa-arrow-left"></i></div>
    <div class="owl-next"><i class="fas fa-arrow-right"></i></div>
  </div>
  <div class="owl-dots disabled"></div>
</div>

<div class="service-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service-img">
            <img src="assets/img/service/service-2.jpg" alt="" />
          </div>
          <div class="service-content">
            <h4>Simple Communication</h4>
            <p>The simple Canvas messages service</p>
            <a href="#" class="theme-btn"
              >Get there <i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service-img">
            <img src="assets/img/service/service-3.jpg" alt="" />
          </div>
          <div class="service-content">
            <h4>Complexe communication</h4>
            <p>A full interface about sending/getting messages</p>
            <a href="#" class="theme-btn"
              >Get there<i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
