<div class="container">
    <form #f="ngForm" (ngSubmit)="savepart(f)">
        <div class="form-group">
            <label>Name partner</label>
            <input type="text" name="nomPart" class="form-control" required ngModel #l="ngModel">
        </div>
        <div class="alert alert-danger" *ngIf="l.invalid && l.touched">
            The name is a required field
        </div>
        <div class="form-group">
            <label>Logo image</label>
            <input type="text" name="logoPart" class="form-control" required ngModel #e="ngModel">
        </div>
        <div class="alert alert-danger" *ngIf="e.invalid && e.touched">
            The logo image is a required field
        </div>
        <button class="btn btn-success" [disabled]="f.invalid" type="submit">Save</button>
    </form>
</div>