<div class="col-md-12">
  <div class="card card-container">
    <form [formGroup]="formGroup">
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          id="password"
          required
          minlength="6"
        />
        <div class="alert-danger" *ngIf="formGroup.controls['password'].errors">
          <div
            *ngIf="
              formGroup.controls['password'].errors['required'] && hasError
            "
          >
            Password is required
          </div>
          <div
            *ngIf="
              formGroup.controls['password'].errors['minlength'] && hasError
            "
          >
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirm_password">confirm_password</label>
        <input
          type="password"
          class="form-control"
          formControlName="confirm_password"
          id="confirm_password"
          required
          minlength="2"
          maxlength="20"
        />
        <div
          class="alert-danger"
          *ngIf="formGroup.controls['confirm_password'].errors"
        >
          <div
            *ngIf="
              formGroup.controls['confirm_password'].errors['required'] &&
              hasError
            "
          >
            confirm_password is required
          </div>
          <div
            *ngIf="
              formGroup.controls['confirm_password'].errors['minlength'] &&
              hasError
            "
          >
            confirm_password must be at least 2 characters
          </div>
          <div
            *ngIf="
              formGroup.controls['confirm_password'].errors['maxlength'] &&
              hasError
            "
          >
            confirm_password must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary btn-block"
          (click)="setPassword(formGroup)"
        >
          Set Password
        </button>
      </div>

      <div class="alert alert-warning" *ngIf="hasError">Signup failed!</div>
    </form>
  </div>
</div>
