<div class="event-single-area py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="event-details">
                    <img src="{{listnews.imageArticle}}" alt="" />
                    <div class="my-4">
                        <h4 class="mb-2"> {{listnews.titreArticle}}</h4>
                        <p>
                            {{listnews.descriptionArticle}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget event-single-info">
                    <h4 class="widget-title">News Information</h4>
                    <p>
                        {{listnews.descriptionArticle}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>