<main class="main">


    <div class="site-breadcrumb" style="background: url(../../../assetsf/img/bg/breadcrumb.jpg)">
        <div class="container">
        <h2 class="breadcrumb-title">Trips</h2>
        <ul class="breadcrumb-menu">
        <li><a href="index-2.html">Home</a></li>
        <li class="active">Add A New Trip</li>
        </ul>
        </div>
        </div>
        <div class="room-booking py-120">
            <div class="container">
            <div class="row">
            <div class="col-lg-8">
            <div class="booking-widget">
            <h4 class="booking-widget-title">Your Details</h4>
            <div class="booking-form">
            <form action="#">
            <div class="row">
            <div class="col-lg-6">
            <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" placeholder="Your First Name">
            </div>
            </div>
            <div class="col-lg-6">
            <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Your Last Name">
            </div>
            </div>
            <div class="col-lg-6">
            <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Your Email">
            </div>
            </div>
            <div class="col-lg-6">
            <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" placeholder="Your Phone">
            </div>
            </div>
            <div class="col-lg-12">
            <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" placeholder="Your Address">
            </div>
            </div>
            </div>
            </form>
            </div>
            </div>
            <div class="booking-widget">
            <h4 class="booking-widget-title">Payment Info</h4>
            <div class="booking-form">
            <form action="#">
            <div class="row">
            <div class="col-lg-6">
            <div class="form-group">
            <label>Card Holder Name</label>
            <input type="text" class="form-control" placeholder="Name On Card">
            </div>
            </div>
            <div class="col-lg-6">
            <div class="form-group">
            <label>Card Number</label>
            <input type="text" class="form-control" placeholder="Your Card Number">
            </div>
            </div>
            <div class="col-lg-6">
            <div class="form-group">
            <label>Expire Date</label>
            <input type="text" class="form-control" placeholder="Expire">
            </div>
            </div>
            <div class="col-lg-6">
            <div class="form-group">
            <label>CCV</label>
            <input type="text" class="form-control" placeholder="CVV">
            </div>
            </div>
            </div>
            </form>
            </div>
            </div>
            <div class="booking-widget">
            <h4 class="booking-widget-title">Billing Address</h4>
            <div class="booking-form">
            <form action="#">
            <div class="row">
            <div class="col-lg-6">
            <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" placeholder="Your First Name">
            </div>
            </div>
            <div class="col-lg-6">
            <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Your Last Name">
            </div>
            </div>
            <div class="col-lg-6">
             <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Your Email">
            </div>
            </div>
            <div class="col-lg-6">
            <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" placeholder="Your Phone">
            </div>
            </div>
            <div class="col-lg-6">
            <div class="form-group">
            <label>Address 1</label>
            <input type="text" class="form-control" placeholder="Your Address">
            </div>
            </div>
            <div class="col-lg-6">
            <div class="form-group">
            <label>Address 2</label>
            <input type="text" class="form-control" placeholder="Your Address">
            </div>
            </div>
            <div class="col-lg-12">
            <div class="form-group">
            <label>Additional Info</label>
            <textarea class="form-control" cols="30" rows="5" placeholder="Additional Info"></textarea>
            </div>
            </div>
            </div>
            </form>
            </div>
            </div>
            </div>
            <div class="col-lg-4">
            <div class="booking-summary">
            <h4 class="mb-30">Booking Summary</h4>
            <div class="booking-room-img">
            <img src="assets/img/room/room-1.jpg" alt="">
            </div>
            <div class="booking-room-content">
            <div class="booking-room-title">
            <div>
            <h5>Luxury King</h5>
            <p><i class="far fa-map-marker-alt"></i> New York, USA</p>
            </div>
            <a href="#" class="book-edit-btn"><i class="far fa-pen"></i></a>
            </div>
            <div class="booking-room-rate">
            <span class="badge bg-warning">4.5/5</span>
            <span class="rate-type">Average</span>
            <span class="rate-text">(35 Reviews)</span>
            </div>
            </div>
            <div class="booking-order-info">
            <div class="booking-room-summary">
            <h5>Order Info</h5>
            <ul>
            <li>Check In: <span>20 Aug 2021 at 10:10 AM</span></li>
            <li>Check Out: <span>25 Aug 2021 at 10:10 AM</span></li>
            <li>Room Type: <span>King Luxury</span></li>
            <li>Room: <span>2 Rooms</span></li>
            <li>Per Room Price: <span>$250</span></li>
            <li>Adults: <span>4</span></li>
            <li>Childs: <span>2</span></li>
            <li>Stay: <span>5 Nights</span></li>
            </ul>
            </div>
            <div class="booking-pay-info">
            <h5>Order Pay Summary</h5>
            <ul>
            <li><strong>Sub Total:</strong> <span>$1,540.00</span></li>
            <li><strong>Discount:</strong> <span>$15.00</span></li>
            <li><strong>Taxes:</strong> <span>$18.00</span></li>
            <li class="order-total"><strong>Total:</strong> <span>$1,543.00</span></li>
            </ul>
            </div>
            <div class="text-end mt-40">
            <a href="#" class="theme-btn">Book Now <i class="far fa-arrow-right"></i></a>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
</main>